@model Data.Usuario
@{
	ViewBag.Title = "Login";
}

@{
	if (Session["UserSession"].Equals(String.Empty))
	{
		<h2>Login</h2>

		<form action="/Usuario/Login" method="post">

			<div class="form-group">
				@Html.Label("Email", "Email:")
				@Html.EditorFor(l => l.Email, null, new { @class = "form-control" })
				@Html.ValidationMessageFor(l => l.Email, null, new { @class = "text-danger" })
			</div>

			<div class="form-group">
				@Html.Label("Password", "Contraseña:")
				@Html.EditorFor(l => l.Password, null, new { @class = "form-control" })
				@Html.ValidationMessageFor(l => l.Password, null, new { @class = "text-danger" })
			</div>

			<input type="submit" class="btn btn-primary" value="Ingresar" />

			@if (ViewData["MensajeError"] != null)
			{
				<br />
				<div class="alert alert-danger centermsg" role="alert">
					@ViewData["MensajeError"]
				</div>
			}

			@if (ViewBag.msg != null)
			{
				<br />
				<div class="alert alert-info centermsg" role="alert">
					@ViewBag.msg
				</div>

			}

		</form>

	}
	else
	{
		//Mensaje: A ocurrido un error, no tiene permisos para entrar.
		@//Html.ActionLink("Volver al Home", "InicioUsuarioLogueado");

		@Html.Action("InicioUsuarioLogueado", "Usuario");
	}
}