@model Data.Usuario
@{
	Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}
<div class="text-right">
	<a href="/api/{controller}/{action}/{id}" class="btn btn-info pull-right">Historial de Donaciones</a>
</div>
<div class="container">
    <!--TODO: Actualizar datos-->
	<form action="/Usuario/ModificarPerfil" method="post" class="text-center border border-light p-5 align-items-center col col-md-6 offset-md-3">

		<p class="h4 mb-4">Mi Perfil</p>

		<input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />

		<div class="form-group">
			@Html.Label("Usuario", "Usuario:")
			@Html.TextBoxFor(p => p.UserName, new { disabled = "disabled" })
		</div>

		<div class="form-group">
			@Html.Label("Email", "Email:")
			@Html.TextBoxFor(p => p.Email, new { disabled = "disabled" })
		</div>

		<div class="form-group">
			@Html.Label("Nombre", "Nombre:")
			@Html.EditorFor(p => p.Nombre, null, new { @class = "form-control" })
			@Html.ValidationMessageFor(p => p.Nombre, null, new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.Label("Apellido", "Apellido:")
			@Html.EditorFor(p => p.Apellido, null, new { @class = "form-control" })
			@Html.ValidationMessageFor(p => p.Apellido, null, new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label>Foto de perfil:</label>
			<div class="form-row mt-2 mb-4">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="Foto" name="Foto" lang="es">
					<label class="custom-file-label" for="Foto">Seleccionar archivo</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="FechaNacimiento">Fecha de nacimiento actual: @Model.FechaNacimiento.ToShortDateString()</label>
			<input type="date" class="form-control" name="FechaNacimiento" placeholder="Fecha de nacimiento">
		</div>

		<input type="submit" class="btn btn-primary" name="name" value="Modificar Perfil" />

		<a href="/Home/Inicio" class="btn btn-primary">Volver al Home</a>
	</form>
</div>