@model Data.Usuario
@{
	Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

<div class="container">
    <!--TODO: Actualizar datos-->
	<form action="/Usuario/ActualizarPerfil" method="post" class="text-center border border-light p-5 align-items-center col col-md-6 offset-md-3">

		<p class="h4 mb-4">Mi Perfil</p>

		<input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />

		<div class="form-group">
			@Html.Label("Nombre", "Nombre:")
			@Html.TextBoxFor(p => p.Nombre, new { disabled = "disabled" })
		</div>

		<div class="form-group">
			@Html.Label("Apellido", "Apellido:")
			@Html.TextBoxFor(p => p.Apellido, new { disabled = "disabled" })
		</div>
		<a href="/Home/InicioUsuarioLogueado" class="btn btn-primary">Volver al Home</a>
	</form>
</div>