@model List<Data.Propuesta>

@{
	ViewBag.Title = "Inicio";
	ViewBag.TusPropuestasImgUrl = "http://k33.kn3.net/B/1/B/B/0/4/B38.jpg";
	ViewBag.ImgUrl = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0a3QyGyINLq1pkAfLB8F3oJDfaP0vg3lg_lCcjMeVNCZTMwbs&s";
	Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

<h2>Ayudando al prójimo</h2>
<hr />



<div class="card-columns two-columns">
    <div class="card">
        <div class="card-header"><h5 class="card-title">Buscar propuestas</h5></div>
        <div class="card-body">
            <form action="/Propuestas/Buscar" method="post">
                <div class="form-group">
                    @Html.TextBox("keyword", null, new { @class = "form-control", @placeholder = "Ingresá el nombre del usuario o la propuesta que estás buscando" })
                </div>

                <input type="submit" class="btn btn-primary" value="Buscar" />
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header"><h5 class="card-title">Crear propuesta</h5></div>
        <div class="card-body">
            <p class="card-text">Creá una nueva propuesta.</p>
            @Html.ActionLink("Crear propuesta", "Crear", "Propuestas", new object { }, new { @class = "pull-right btn btn-primary" })
        </div>
    </div>
</div>

<hr />

<h3>Tus propuestas</h3>

<div class="custom-control custom-switch mt-4 mb-2">
	@*TODO: Checkbox activo: Muestra propuestas activas, sino, muestra todas. (act e inac)*@
	<input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
	<label class="custom-control-label" for="customSwitch1">Sólo visualizar activas</label>
</div>
<div class="card-columns">
    @foreach (var p in Model)
    {
        <div class="card">
            <img src="@p.Foto" class="card-img-top" alt="@p.Nombre">
            <div class="card-body">
                <h5 class="card-title">@p.Nombre</h5>
                <div><small class="text-muted">Pedido de @p.TipoDonacionString()</small></div>
                <div class="mb-4"><small>Creado por @p.Usuario.UserName el @p.FechaCreacion.Date.ToShortDateString()</small></div>
                <p class="card-text">@p.Descripcion</p>
                <a href="/Propuestas/Detalle/@p.IdPropuesta" class="btn btn-primary">Ver Detalle</a>
                <a href="/Propuestas/Modificar/@p.IdPropuesta" class="btn btn-primary">Editar Propuesta</a>
            </div>

            <div class="card-footer">
                <div>Aceptación: ??%</div>
            </div>
        </div>
    }
</div>


<hr />

<h3>Propuestas de otros usuarios</h3>
<div class="card-columns">
    @foreach (var p in Model)
    {
        <div class="card">
            <img src="@p.Foto" class="card-img-top" alt="@p.Nombre">
            <div class="card-body">
                <h5 class="card-title">@p.Nombre</h5>
                <h6 class="card-subtitle mb-2 text-muted">Creada por @p.Usuario.UserName el @p.FechaCreacion.Date.ToShortDateString()</h6>
                <p class="card-text">@p.Descripcion</p>
				<a href="/Propuestas/Detalle/@p.IdPropuesta" class="btn btn-primary">Ver Detalle</a>
            </div>
            <div class="card-footer">
                <div>Aceptación: ??%</div>
            </div>
        </div>
    }
</div>
