@model List<Data.Propuesta>

@{
	ViewBag.Title = "Inicio";
	ViewBag.ImgUrl = "https://www.loottis.com/wp-content/uploads/2014/10/default-img.gif";
	Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<h2>Ayudando al prójimo</h2>
<hr />


<h3>Acceder al sistema</h3>
<div class="card-columns two-columns">
	<div class="card">
		<div class="card-header"><h5 class="card-title">Iniciar sesión</h5></div>
		<div class="card-body">
			<p class="card-text">Accedé al sistema para poder utilizar todas sus funcionalidades.</p>
			@Html.ActionLink("Login", "Login", "Usuario", new object { }, new { @class = "pull-right btn btn-primary" })
		</div>
	</div>

	<div class="card">
		<div class="card-header"><h5 class="card-title">Registrarse</h5></div>
		<div class="card-body">
			<p class="card-text">Creá tu cuenta en pocos minutos.</p>
			@Html.ActionLink("Registro", "Registro", "Usuario", new object { }, new { @class = "pull-right btn btn-primary" })
		</div>
	</div>
</div>

<hr />

<h3>Propuestas más populares</h3>
<div class="card-columns">

    @foreach (var p in @Model)
    {
    <div class="card">

        @if (!String.IsNullOrEmpty(p.Foto))
        {
            <img src="@p.Foto" class="card-img-top" alt="@p.Nombre">
        }
        else
        {
            // TODO: Modificar Imagen por default
            <img src="@ViewBag.ImgUrl" class="card-img-top" alt="@p.Nombre">
        }
        <div class="card-body">
            <h5 class="card-title">@p.Nombre</h5>
            <div><small class="text-muted">Pedido de @p.TipoDonacionString()</small></div>
            <div class="mb-4"><small>Creado por @p.Usuario.Nombre.ToLower().@p.Usuario.Apellido.ToLower() el @p.FechaCreacion.Date.ToShortDateString()</small></div>


            <p class="card-text">@p.Descripcion</p>
            <a href="/Propuestas/Detalle/@p.IdPropuesta" class="btn btn-primary">Ver Detalle</a>
        </div>
        <div class="card-footer">
            @if (p.Valoracion != null)
            {
                <div>Aceptación: @p.Valoracion%</div>
            }
            else
            {
                <div>Aceptación: 0%</div>
            }
        </div>
    </div>
    }

</div>
