
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>

<form action="/Home/Registro" method="post">
    @*
        De manera temporal se usan los inputs comunes. Cuando integremos la parte de validaciones hay que migrar a estos helpers
        @Html.EditorFor(o => o.UserName)
        @Html.ValidationMessageFor(o => o.UserName)
    *@

    <div class="form-group">
        @Html.Label("Email", "Dirección de correo electrónico:")
        @Html.TextBox("Email", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Password", "Contraseña:")
        @Html.Password("Password", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("PasswordConfirm", "Vuelva a introducir la contraseña:")
        @Html.Password("PasswordConfirm", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("FechaNacimiento", "Fecha de nacimiento:")
        <input type="date" name="name" class="form-control"/>
    </div>

    <input type="submit" class="btn btn-primary" value="Ingresar" />

</form>
