@model Data.PropuestasDonacionesHorasTrabajo

@{
    ViewBag.Title = "Crear propuesta";
}

<h2>Crear propuesta</h2>

<form action="/Propuestas/ProcesarTipoHorasTrabajo" method="post" onsubmit="return validarCamposTipoHorasTrabajo(event);">

    <input type="hidden" name="Nombre" value="@Model.Nombre" />
    <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
    <input type="hidden" name="FechaFin" value="@Model.FechaFin" />
    <input type="hidden" name="TelefonoContacto" value="@Model.TelefonoContacto" />
    <input type="hidden" name="TipoDonacion" value="@Model.TipoDonacion" />
    <input type="hidden" name="Foto" value="@Model.Foto" />
    <input type="hidden" name="Referencia1Nombre" value="@ViewBag.Referencia1Nombre" />
    <input type="hidden" name="Referencia1Telefono" value="@ViewBag.Referencia1Telefono" />
    <input type="hidden" name="Referencia2Nombre" value="@ViewBag.Referencia2Nombre" />
    <input type="hidden" name="Referencia2Telefono" value="@ViewBag.Referencia2Telefono" />

    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.Label("CantidadHoras", "Cantidad de horas:")
            @Html.EditorFor(ph => ph.CantidadHoras, new { htmlAttributes = new { @class = "form-control", @min = "1" } })
            @Html.ValidationMessageFor(ph => ph.CantidadHoras, null, new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-10">
            @Html.Label("Profesion", "Profesión:")
            <select class="form-control" id="Profesion" name="Profesion">
                <option value="Albañil">Albañil</option>
                <option value="Plomero">Plomero</option>
                <option value="Electricista">Electricista</option>
                <option value="Abogado">Abogado</option>
                <option value="Contador">Contador</option>
                <option value="Trabajador social">Trabajador social</option>
                <option value="Psicóloga">Psicóloga</option>
                <option value="Psicopedagoga">Psicopedagoga</option>
                <option value="Cocinero">Cocinero</option>
                <option value="Limpieza">Limpieza</option>
                <option value="Otros">Otros</option>

            </select>
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Crear propuesta" />
</form>
