@model Data.PropuestasDonacionesMonetaria
@{
    ViewBag.Title = "CrearMontaria";
}

<h2>CrearMontaria</h2>

<form action="/Propuestas/ProcesarMonetaria" method="post">

    <input type="hidden" name="Nombre" value="@Model.Nombre" />
    <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
    <input type="hidden" name="FechaFin" value="@Model.FechaFin" />
    <input type="hidden" name="TelefonoContacto" value="@Model.TelefonoContacto" />
    <input type="hidden" name="TipoDonacion" value="@Model.TipoDonacion" />
    <input type="hidden" name="Foto" value="@Model.Foto" />

    <div class="form-group">
        @Html.Label("Dinero", "Cantidad de dinero necesaria (AR$):")
        @Html.EditorFor(pm => pm.Dinero, null, new { @class = "number" })
        @Html.ValidationMessageFor(pm => pm.Dinero, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("CBU", "CBU/Alias de la cuenta donde se recibirá el dinero:")
        @Html.EditorFor(pm => pm.CBU, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(pm => pm.CBU, null, new { @class = "text-danger" })
    </div>

    <input type="submit" value="Crear propuesta" />
</form>

