@model Data.Propuesta

@{
    ViewBag.Title = "Donar";
    Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

<div class="container">
    <h2>Donar horas de trabajo</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Foto" alt="Imagen propuesta" class="img-thumbnail">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            Estás por donar en la publicación <span class="font-weight-bold">@Model.Nombre</span> del usuario <span class="font-weight-bold">@Model.Usuario.Nombre.@Model.Usuario.Apellido</span>. A continuación mostramos un resumen del estado actual de la publicación para que puedas hacer tu donación.

            <h5 class="mt-5">Estado actual</h5>
            @Html.Partial("_DetalleHoras", Model.PropuestasDonacionesHorasTrabajoes.First())

            <h5 class="mt-5">Tu donación</h5>

            <form action="/Propuestas/DonarHorasTrabajo" method="post" class="mt-2" id="donar-formulario" onsubmit="return validardh(event);">

                <input type="hidden" name="IdPropuestaDonacionHorasTrabajo" value="@Model.PropuestasDonacionesHorasTrabajoes.First().IdPropuestaDonacionHorasTrabajo" />
                <input type="hidden" name="IdUsuario" value="@ViewBag.DonanteId" />

                <div class="form-group">
                    @Html.Label("Cantidad", "Horas a donar:")
                    @Html.TextBox("Cantidad", 1, new { @class = "form-control", @id = "cantidadh", @type = "number", @min = "1", @max = "999999" })
                </div>

                <input type="submit" class="btn btn-success mt-3" value="Donar" id="donar-submit" />

            </form>
        </div>
    </div>


</div>